{% extends "base.html"%}
{% block base %}
    <div id='play' >
        <h2 style='padding:0vw 2vw;'>Player:{{ player }}</h2>
        <div id='play1'>
            <img id='play3' src="../static/images/dice-0.png" width="100%" height='100%' alt="">
        </div>
        <h3 style='text-align: center;'>Your Score is :</h3>
        <br>
        <p id='score'>0</p>
        <br>
        <br>
        <button type="submit" onclick='hommy()'>New Game</button>
        <button type="submit" onclick='hommy1()'>ROLL</button>
        <form action="/" method="get">
        <button type="submit" onclick="hommy2()" >OUT</button></form>
    </div>
{% endblock base %}