
  h3{
    text-align: center;  
  }
  
  input[type=text] {
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input[type=text].invalid {
    border:1px solid red;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  .logo {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    
  }
  
  .logo:hover {
    opacity: 0.8;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }
  #age1,#age2{
      display: inline;
  }
  #ttc{
    width:25vw;
    border-radius: 5px;
    background-color: #60adde;

  }
  #pricenor,#pricetva,#pricettc{
    float:right
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #customers  tr  td {
      background-color: #f2f2f2;
  }
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  #_212{
    padding:10px;
    height:2vw ;
    color: rgb(19, 17, 17);
    border-radius: 5px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px ;
    margin: 10px;
    font-weight: bold;
    background-color: #00336631;
    display: inline-block;
}