*{
    margin:0;
    padding:0;
}
#I1a,#I1b,#I1c,#I1d,#I1e,#I1f,#I1g,#I1h,
#I2a,#I2b,#I2c,#I2d,#I2e,#I2f,#I2g,#I2h,
#I3a,#I3b,#I3c,#I3d,#I3e,#I3f,#I3g,#I3h,
#I4a,#I4b,#I4c,#I4d,#I4e,#I4f,#I4g,#I4h,
#I5a,#I5b,#I5c,#I5d,#I5e,#I5f,#I5g,#I5h,
#I6a,#I6b,#I6c,#I6d,#I6e,#I6f,#I6g,#I6h,
#I7a,#I7b,#I7c,#I7d,#I7e,#I7f,#I7g,#I7h,
#I8a,#I8b,#I8c,#I8d,#I8e,#I8f,#I8g,#I8h
{
    width:12.5%;
    height:12.5%;
    display: inline-block;
    margin:0px;
    position: relative;
}
#I1a,#I1c,#I1e,#I1g,
#I2b,#I2d,#I2f,#I2h,
#I3a,#I3c,#I3e,#I3g,
#I4b,#I4d,#I4f,#I4h,
#I5a,#I5c,#I5e,#I5g,
#I6b,#I6d,#I6f,#I6h,
#I7a,#I7c,#I7e,#I7g,
#I8b,#I8d,#I8f,#I8h
{
    background-color: gray;
}

#container{
    margin: auto;
    width:50vw;
    height:50vw;
    border: 2px solid black;
    text-align: center;
    font-size:0;
}
#A1,#A2,#A3,#A4,#A5,#A6,#A7,#A8,#A9,#A10,#A11,#A12{
    opacity: 1
}
#B1,#B2,#B3,#B4,#B5,#B6,#B7,#B8,#B9,#B10,#B11,#B12{
    opacity: 0
}
#B13,#B14,#B15,#B16,#B17,#B18,#B19,#B20,#A13,#A14,#A15,#A16,#A17,#A18,#A19,#A20{
    opacity: 0;
}
#B21,#B22,#B23,#B24,#B25,#B26,#B27,#B28,#B29,#B30,#B31,#B32{
    opacity: 1
}
#A21,#A22,#A23,#A24,#A25,#A26,#A27,#A28,#A29,#A30,#A31,#A32{
    opacity: 0;
}