{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static' , filename='CSS/style.css')}}">
<main > 
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}"><br>    
                    {{ message }}
                </div>
            {% endfor %}
        {% else %}
            <br>
        {% endif %}
    {% endwith %}
    <div class='window'>
        <button id='btnc' onclick='location="/create"' >Create an order</button>
        <button id='btnc' onclick='location="/Modefy"' >Modify an order</button>
    </div>
</main>
{% endblock content %}