<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static' , filename='CSS/header.css')}}">
    <script src="{{ url_for('static',filename='JS/jquery-3.6.0.js') }}"></script>
    <title>Poste Maroc</title>  
</head>
<body>
  <header>
    <div class="header">
      <a href="/" id="logo">
        <img id='poste_img' src="{{url_for('static',filename='IMAGES/poste_maroc.webp')}}" alt="Post Maroc">
      </a>
      <div class="header-right">
        {% if current_user.is_authenticated %}
          <a id='/accule' class="active" href="/accule">Home</a>
          <a id="/logout" href="/logout">Log out</a>
        {% else %}
          <a id='/' href="/">Log in</a>
        {% endif %}
        <a id='/Support' href="/Support">Support</a>
      </div>
    </div>
  </header>   
  {% block content %}
  {% endblock content %}  
</body>
<script>
  const getRouteValueAt = (idx) => {

  const routeTokens = location.pathname.replace(/^\/+/g,'').split('/')
  //[questions,20302776,how-to-get-route-parameter-in-javascript]

  return routeTokens.length > idx ? routeTokens[idx] : undefined
  }
  let route=getRouteValueAt(0)
  document.getElementsByTagName('a').className=''
  document.getElementById('/'+route).className='active'
</script>
</html>