{% extends "base.html" %}
{% block content %}
<main>
    <div class="login-wrapper">
        <form action="/" method="POST">
            <h1>POSTE MAROC LOGIN</h1>
            <div class="login_input">
                <div class="login_input_pic">
                    <img src="{{url_for('static' , filename ='IMAGES/postmaroc.png')}}">
                </div>
                <div class="login_input_in">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="{{ category }} popmessage" >
                                    {{ message }}<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                </div>
                            {% endfor %}
                        {% else %}
                            <br>
                        {% endif %}
                    {% endwith %}
                    <input type="text" name="username" placeholder='Username' required style="margin-top: 14%;" />
                    <input type="password" id='password' name='password' placeholder=Password required/>
                    <NOBR><input class="noselect" type="checkbox" onclick="show_password()" name="a" id="passshow">
                    <label class="noselect" for="passshow">Show Password</label></NOBR>
                    <input type="submit" value="Log in"/>
                    <a href="/changepassword">Forget Password ? </a>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock content %}
